<!-- Author: Gaurav Raj [HackersBrain]
Author URL: https://thehackersbrain.pythonanywhere.com/ -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../static/css/styles.css" />

    <!-- =====BOX ICONS===== -->
    <link href="https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css" rel="stylesheet" />

    <title>Gaurav Raj | Hacker, Programmer & FreeLancer</title>
</head>

<body id="body">
    <!--===== HEADER =====-->
    <header class="l-header">
        <nav class="nav bd-grid">
            <div>
                <a href="#" class="nav__logo">Gaurav Raj</a>
            </div>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="#home" class="nav__link active">Home</a>
                    </li>
                    <li class="nav__item">
                        <a href="#about" class="nav__link">About</a>
                    </li>
                    <li class="nav__item">
                        <a href="#skills" class="nav__link">Skills</a>
                    </li>
                    <li class="nav__item">
                        <a href="#work" class="nav__link">Work</a>
                    </li>
                    <li class="nav__item">
                        <a href="#contact" class="nav__link">Contact</a>
                    </li>
                    <li class="nav__item">
                        <input type="button" value="Dark" class="theme__btn" id="theme" onclick="darkTheme()" />
                    </li>
                </ul>
            </div>

            <div class="nav__toggle" id="nav-toggle">
                <i class="bx bx-menu"></i>
            </div>
        </nav>
    </header>

    <main class="l-main">
        <!--===== HOME =====-->
        <section class="home bd-grid" id="home">
            <div class="home__data">
                <h1 class="home__title">
                    Hi,<br />I'm
                    <span class="home__title-color">Gaurav Raj</span><br />
                    < Ethical Hacker />
                </h1>

                <a href="#contact" class="button">Hire Me</a>
            </div>

            <div class="home__social">
                <a href="https://facebook.com/thehackersbrainblog" target="_blank" class="home__social-icon"><i
                        class="bx bxl-facebook"></i></a>
                <a href="https://instagram.com/thehackersbrain" target="_blank" class="home__social-icon"><i
                        class="bx bxl-instagram"></i></a>
                <a href="https://twitter.com/thehackersbrain" target="_blank" class="home__social-icon"><i
                        class="bx bxl-twitter"></i></a>
                <a href="https://github.com/thehackersbrain" target="_blank" class="home__social-icon"><i
                        class="bx bxl-github"></i></a>
            </div>

            <div class="home__img">
                <img src="../static/img/profile.png" alt="" />
            </div>
        </section>

        <!--===== ABOUT =====-->
        <section class="about section" id="about">
            <h2 class="section-title">About Me</h2>

            <div class="about__container bd-grid">
                <div class="about__img"></div>

                <div>
                    <h2 class="about__subtitle">I'm Gaurav Raj</h2>
                    <p class="about__text">
                        Ethical Hacker, Programmer & FreeLancer. Mostly in
                        System Hacking. Web Developer in many frameworks
                        like NodeJs, Django, Flask and as well as
                        Programming in Many languages like Python, Java, C
                        and much more. Currently workin' as FreeLancer.
                        <br /><br />
                        Have Anything for me? Drop a message and Let's
                        Disscuss.
                    </p>
                    <br /><br />
                    <div class="home__social">
                        <a href="https://facebook.com/thehackersbrainblog" target="_blank" class="home__social-icon"><i
                                class="bx bxl-facebook"></i></a>
                        <a href="https://instagram.com/thehackersbrain" target="_blank" class="home__social-icon"><i
                                class="bx bxl-instagram"></i></a>
                        <a href="https://twitter.com/thehackersbrain" target="_blank" class="home__social-icon"><i
                                class="bx bxl-twitter"></i></a>
                        <a href="https://github.com/thehackersbrain" target="_blank" class="home__social-icon"><i
                                class="bx bxl-github"></i></a>
                        <a href="https://github.com/thehackersbrain" target="_blank" class="home__social-icon"><i
                                class="bx bxl-discord"></i></a>
                        <a href="https://thehackersbrain.pythonanywhere.com" target="_blank"
                            class="home__social-icon"><i class="bx bxl-blogger"></i></a>
                    </div>
                </div>
            </div>
        </section>

        <!--===== SKILLS =====-->
        <section class="skills section" id="skills">
            <h2 class="section-title">Skills</h2>

            <div class="skills__container bd-grid">
                <div>
                    <h2 class="skills__subtitle">Profesional Skills</h2>
                    <p class="skills__text">Skills that I'm good at</p>
                    <div class="skills__data">
                        <div class="skills__names">
                            <i class="bx bx-shield skills__icon"></i>
                            <span class="skills__name">Ethical Hacking</span>
                        </div>
                        <div class="skills__bar skills__html"></div>
                        <div>
                            <span class="skills__percentage">95%</span>
                        </div>
                    </div>
                    <div class="skills__data">
                        <div class="skills__names">
                            <i class="bx bx-world skills__icon"></i>
                            <span class="skills__name">Web Development</span>
                        </div>
                        <div class="skills__bar skills__css"></div>
                        <div>
                            <span class="skills__percentage">85%</span>
                        </div>
                    </div>
                    <div class="skills__data">
                        <div class="skills__names">
                            <i class="bx bxs-paint skills__icon"></i>
                            <span class="skills__name">Illustration</span>
                        </div>
                        <div class="skills__bar skills__js"></div>
                        <div>
                            <span class="skills__percentage">65%</span>
                        </div>
                    </div>
                    <div class="skills__data">
                        <div class="skills__names">
                            <i class="bx bx-laptop skills__icon"></i>
                            <span class="skills__name">Programming</span>
                        </div>
                        <div class="skills__bar skills__ux"></div>
                        <div>
                            <span class="skills__percentage">85%</span>
                        </div>
                    </div>
                </div>

                <div>
                    <img src="../static/img/work3.jpg" alt="" class="skills__img" />
                </div>
            </div>
        </section>

        <!--===== WORK =====-->
        <section class="work section" id="work">
            <h2 class="section-title">Projects</h2>

            <div class="work__container bd-grid">
                <div class="work__img">
                    <a href="https://github.com/thehackersbrain/port_scanner" target="_blank">
                        <img src="../static/images/port_scanner.png" alt="" />
                    </a>
                </div>
                <div class="work__img">
                    <a href="https://github.com/thehackersbrain/dirhunter" target="_blank">
                        <img src="../static/images/dirhunter.png" alt="" />
                    </a>
                </div>
                <div class="work__img">
                    <a href="https://github.com/thehackersbrain/thephisher" target="_blank">
                        <img src="../static/images/thephisher.png" alt="" />
                    </a>
                </div>
                <div class="work__img">
                    <a href="https://github.com/thehackersbrain/yt_downloader" target="_blank">
                        <img src="../static/images/yt_downloader.png" alt="" />
                    </a>
                </div>
                <div class="work__img">
                    <a href="https://github.com/thehackersbrain/portfolio-app-nodejs" target="_blank">
                        <img src="../static/images/portfolio_nodejs.png" alt="" />
                    </a>
                </div>
                <div class="work__img">
                    <a href="https://github.com/thehackersbrain/contact_nodejs" target="_blank">
                        <img src="../static/images/contact_app.png" alt="" />
                    </a>
                </div>
            </div>
            <div class="container" style="text-align: center;">
                <a href="https://github.com/thehackersbrain?repo=repositories" style="margin-top: 2rem;" class="button"
                    target="_blank">See More</a>
            </div>
        </section>

        <!--===== CONTACT =====-->
        <section class="contact section" id="contact">
            <h2 class="section-title">Contact</h2>

            <div class="contact__container bd-grid">
                <form action="#contact" class="contact__form" method="POST">
                    <input type="text" name="fname" placeholder="Name" class="contact__input" />
                    <input type="mail" name="email" placeholder="Email" class="contact__input" />
                    <textarea name="msg" placeholder="Message" id="" cols="0" rows="10"
                        class="contact__input"></textarea>
                    <button type="submit" class="contact__button button">
                        Send
                    </button>
                </form>
            </div>
        </section>
    </main>

    <!--===== FOOTER =====-->
    <footer class="footer">
        <p class="footer__title">
            < Hacker, Programmer & FreeLancer />
        </p>
        <div class="footer__social">
            <a href="https://facebook.com/thehackersbrainblog" class="footer__icon"><i class="bx bxl-facebook"></i></a>
            <a href="https://instagram.com/thehackersbrain" class="footer__icon"><i class="bx bxl-instagram"></i></a>
            <a href="https://twitter.com/thehackersbrain" class="footer__icon"><i class="bx bxl-twitter"></i></a>
            <a href="https://github.com/thehackersbrain" class="footer__icon"><i class="bx bxl-github"></i></a>
        </div>
        <p>
            &#169; 2020 | Gaurav Raj |
            <a href="#home" style="color: #fff">Home</a>
        </p>
    </footer>

    <!--===== SCROLL REVEAL =====-->
    <!-- <script src="https://unpkg.com/scrollreveal"></script> -->
    <script src="../static/js/scrollreveal.js"></script>

    <!--===== MAIN JS =====-->
    <script src="../static/js/script.js"></script>
</body>

</html>